.blur {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1.5vh);
}

#divLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;   
}

.appName {
    margin-bottom: 7vh;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 0.1vh 0.1vh 0.1vh #919191, 0.1vh 0.2vh 0.1vh #919191, 0.1vh 0.3vh 0.1vh #919191, 0.1vh 0.4vh 0.1vh #919191, 0.1vh 0.5vh 0.1vh #919191, 0.1vh 0.6vh 0.1vh #919191, 0.1vh 0.7vh 0.1vh #919191, 0.1vh 0.8vh 0.1vh #919191, 0.1vh 0.9vh 0.1vh #919191, 0.1vh 1vh 0.1vh #919191, 0.1vh 1.8vh 0.6vh rgba(16, 16, 16, 0.4), 0.1vh 2.2vh 1vh rgba(16, 16, 16, 0.2), 0.1vh 2.5vh 3.5vh rgba(16, 16, 16, 0.2), 0.1vh 3vh 6vh rgba(16, 16, 16, 0.4);
    text-align: center;
}

#registerOption,
#forgottenPasswordOption {
    margin-top: 0.2vh;
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: white;
}

.input-field label {
    color: black;
}

::ng-deep .body {
    background-image: url("../../assets/img/full_login_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    ::nd-deep .body {
        background-image: url("../../assets/img/responsive_login_background.jpeg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #divLogin {
        margin-top: 15vh;
        margin-left: 8vw;
    }
}

#loginButtomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}