@media screen and (min-width: 375px) {

    .register {

        background-color: purple;
    }
}

::ng-deep .body {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/img/full_login_background.jpg");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

::placeholder {
    color: #828282;
  }

.app_name {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
    text-align: center;
}

section {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 500px;
    padding-bottom: 70px;
}

.register {
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 12px;
    color: #000;
    overflow: hidden;
    background-color: white;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.col {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    margin: 15px;
    width: 400px;
}

.input-field label {
    color: black;
}

.row {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.material-icons {
    height: 30px;
    margin: 25px;
    color: black;
    z-index: 2;
    /* No funciona */
}

input {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 15px;
    width: 400px;
}

.register_button
{
    margin-bottom: 10px;
    margin-top: 20px;
}

.socialnetworkregister.flex-container
{
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************** Google Register ******************/

.google_register
{
    width: 130px;
    height: inherit;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #db4242;
    background-color: #db4242;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#googleCustomBtn
{
    width: 90px;
    display: flex;
    justify-content: center;
    color: white;
}

#googleCustomBtn:hover
{
    cursor: pointer;
}

span.label
{
    font-family: serif;
    font-weight: normal;
}

.GIcon
{
    background: url("../../assets/img/google_icon.png")  no-repeat;
    height: 25px;
}

.google_register:hover {
    background-color: #ff4b4b;
    border-color: #ff4b4b;
    cursor: pointer;
    transition: 0.4s;
}

/*******************************************************/ 



/****************** Facebook Register ******************/

.fbIcon
{
    height: 25px;
    filter: invert(100%);
    background-image: url("../../assets/img/facebook_icon.png") no-repeat;
}

#facebookCustomBtn
{
    width: 90px;
    display: flex;
    justify-content: center;
    color: white;
}

.facebook_register
{
    width: 130px;
    height: inherit;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #38539B;
    background-color: #38539B;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.facebook_register:hover {
    background-color: #4668c2;
    border-color: #4668c2;
    cursor: pointer;
    transition: 0.4s;
}

/*******************************************************/

h1 {
    margin-bottom: 10%;
}