<section>
    <h1 class="app_name" tabindex="0">BANANAT</h1>
    <div class="register">
        <form class="col s12">
            <div class="row">
                <i class="material-icons">person</i>
                <div class="input-field col s8 m8 l12">
                    <input id="first_name" type="text" class="validate" [(ngModel)]="name" name="name">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s8 m8 l12">
                    <input id="last_name" type="text" class="validate" [(ngModel)]="surname" name="surname">
                    <label for="last_name">Apellidos</label>
                </div>
            </div>
            <div class="row">
                <i class="material-icons">enhanced_encryption</i>
                <div class="input-field col s8 m8 l12">
                    <input id="password" type="password" class="validate" [(ngModel)]="pwd" name="pwd">
                    <label for="password">Contraseña</label>
                </div>
            </div>
            <div class="row">
                <i class="material-icons">email</i>
                <div class="input-field col s8 m8 l12">
                    <input id="email" type="email" class="validate" [(ngModel)]="mail" name="mail">
                    <label for="email">Correo</label>
                </div>
            </div>
            <div class="row">
                <i class="material-icons">date_range</i>
                <div class="input-field s6 m6 l6">
                    <input type=text name="bdate" id="bdate" class="datepicker" [(ngModel)]="birthday" name="birthday" required>
                    <label for="bdate">Birthday</label>
                </div>

            </div>
            <div class="row">
                <button class="google_register" type="submit">
                        <img class="google_icon">

                    </button>
                <button class="facebook_register" type="submit">
                        <img class="facebook_icon">
                    </button>
            </div>

            <div class="row register_button">
                <button class="btn waves-effect waves-light" type="submit" name="action" (click)="register()">
                        Registrarse                            
                    </button>

            </div>

        </form>

    </div>
</section>




<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year,
    });
</script>