body
{
    background-image: url("test.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
}

.blur 
{
 background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(15px);
}

#div_login
{
    margin-top: 15%;
}

.app_name
{
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    text-align: center;
}

#register_option, #forgotten_password_option
{
    margin-top: 2px;
    text-align: center;
}

a
{
    color: black;
}
a:hover
{
    color: white;
}
.input-field label
{
    color: black;
}

@media (max-width: 900px)
{
    body
    {
        background-image: url("https://miro.medium.com/max/2560/1*kNGrPJfKdlSch2nXlXKvMg.jpeg");
        background-position: center;
        background-size: cover; 
    }
    
    #div_login
    {
        margin-top: 40%;
        margin-left: 10%;
    }
}